/*
  Estilos Globales:
  Que aplican a todas las demas paginas.
 */
:root{
    --background-body: #F6F6F6;

    /*Colores Rosa - Artesania*/
    --color-rosa1: #CC3F65;
    --color-rosa2: #FF0281;
    --color-rosa3: #FF9CC0;

    /*Colores Verde - Naturaleza*/
    --color-verde1: #00A527;
    --color-verde2: #A1D092;

    /*Colores Naranja - Gastronimia*/
    --color-naranja1: #FF350E;
    --color-naranja2: #FF4D1A;
    --color-naranja3: #FFB088;

    /*Colores Morado - Cultura y Tradicion*/
    --color-morado1: #5D1D67;
    --color-morado2: #823890;
    --color-morado3: #B786B7;

    /*Colores Azul - Gente*/
    --color-azul1: #0085D5;
    --color-azul2: #00A5DF;
    --color-azul3: #46CDF4;

    --fuente-color: #212121;
    --fuente-color2: #444444;
    --fuente-color3: #ECECEC;

    --background-bordes: lightgrey;
    --background-description:#ECECEC;
    --montserrat: 'Montserrat', sans-serif;
    --open-sans: 'Open Sans', serif;
}

@font-face {
    font-family: "PT Sans PM";
    src: url("../recursos/fuentes/PTSans-Regular.ttf");
}

.typografia {
    font-family: var(--montserrat);
}

html, body {
    font-family: var(--open-sans);
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    padding: 75px 0 0 0;
}

@media only screen and (max-width: 600px)  {
    body {
        padding-top: 115px;
    }
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}

h1 {
    font-weight: 400;
    font-size: 72px;
    color: var(--fuente-color2);
}

h2 {
    font-weight: 400;
    font-size: 40px;
    color: var(--fuente-color2);
}

h3 {
    font-weight: 400;
    font-size: 32px;
    color: var(--fuente-color2);
}

p{
    font-weight: 400;
    font-size: 18px;
    color: var(--fuente-color2);
}
label{
    font-weight: 500;
    font-size: 20px;
    color: var(--fuente-color2);
}

.menu-navegacion {
    font-family: var(--montserrat);
    background-color: var(--background-body);
    position: fixed;
    top: 0;
    border-bottom: 1px solid var(--background-bordes);
    width: 100%;
    margin: 0;
    z-index: 9999;
}

.menu-lista {
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-content: center;
}

.menu-opcion {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.menu-opcion a {
    /*all: unset;*/
    text-decoration: none;
}

.logo {
    height: 75px;
    display: flex;
}

.logo img {
    align-self: center;
}

.lado-derecho {
    justify-content: flex-end;
}

.lado-izquierdo {
    justify-content: flex-start;
}

.menu-en-columna {
    display: flex;
}

.opcion-reducida {
    flex-basis: 100%;
}

.menu-links-navegacion .menu-opcion, .menu-links-navegacion .menu-opcion a {
    text-align: center;
}

@media only screen and (max-width: 600px)  {
    .menu-links-navegacion .menu-lista {
        display: block;
    }

    .menu-en-columna {
        display: block;
    }

    .opcion-reducida {
        width: 100%;
    }

    .menu-opcion .opcion-reducida {
        margin-bottom: 10px;
    }

    .menu-links-navegacion .menu-opcion, .menu-links-navegacion .menu-opcion a {
        text-align: left;
    }
}

/* Estilos Individuales */

/*
  Index.css
 */

.pueblo-magico-imagen {
    background-image: url("../recursos/imagenes/imagen-fondo.webp");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pueblo-magico-texto {
    text-align: center;
    position: absolute;
    top: 15%;
    left: 40%;
    color: var(--background-body);
    text-shadow: 7px 8px 6px rgba(17, 0, 0, 1);
}

@media only screen and (max-width: 600px)  {
    .pueblo-magico-texto {
        left: 20%;
    }
}

.contentido {
    text-align: center;
}
.columnas p {
    display: inline-flex;
    width: 35%;
    align-content: center;
    padding: 20px;
}

@media only screen and (max-width: 600px)  {
    .columnas p {
        display: block;
        width: 100%;
    }
}

.lista-de-pueblos {
    list-style-type: none;
    margin-bottom: 100px;
}
.lista-de-pueblos li {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: black;
}

footer p {
    color: white;
}

/* Estilos Individuales Alondra */
.colorBody {
    background-color: var(--background-body);
}
.colorBody2  {
    color: var(--fuente-color3);
    text-align: center;
}


.btnVideo,
.btnEstuve{
    box-shadow: 0 1px 15px rgba(0,0,0,.2);
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 0 20px;
    display: inline-block;
    height: 40px;
    border-radius:5px;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}

.btnVideo{
    background-color: var(--color-azul1);
    margin-right: 10px;
}

.btnEstuve{
    background-color:var(--color-rosa1) ;
}

.buttons{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.contentMain{
    padding-right: 4%;
    padding-left: 4%;
}

.principal{
    height: 700px;
    background-image: url(../recursos/imagenes/dolores-hidalgo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    display: block;
    text-align: center;
}
.dolores{
    width: 91%;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    color: #fff;
}
.spanGuanajuato{
    text-align: center;
    display: block;
    width: 100%;
    text-shadow: 0 0 10px rgba(0,0,0,.8);
    margin-top: 5rem;
}

.title{
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,.8);
    margin: 0 0 60px 0;
    position: relative;
    display: block;
    width: 100%;
}

.descriptionDolores{
    text-shadow: 0 0 10px rgba(0,0,0,.8);
    text-align: center;
    margin: 0 0 60px;
    padding: 0 20px;
    line-height: 1.6rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.imgTable{
    border-spacing: 10px;
    display: flex;
    justify-content: center;
}
.imgTable td, td {
    padding: 0.5px;
}

.imgTable td img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.imgNormal{
    height: 200px;
    width: 315px;
}
.imgRowspan{
    height: 415px;
    width: 640px;
}

.description{
    background-color: var(--background-description);
    margin: 0 1rem;
    display: block;
    padding: 10px 3rem;
}
.description h2{
    text-align: center;
    margin: 1rem 0;
    color: var(--color-rosa2);;
}

.description h3{
    margin: 1rem 0;
    color: var(--color-rosa2);;
}

.listMotivo{
    margin: -0.5rem 2rem;
    font-weight: 400;
    font-size: 18px;
    color: var(--fuente-color2);
}
.listImprescindibles{
    margin-top: -1.5rem;
    font-weight: 400;
    font-size: 18px;
    color: var(--fuente-color2);
}
.titleImg{
    text-align: center;
    margin: 1rem 0;
}
.sectionVideo{
    display: block;
    text-align: center;
}

.video{
    box-shadow: 0 0 10px rgba(0,0,0,.8);
}


/* Estilos Individuales Gerardo */


.html_Pricipal {
    background-image: url("../recursos/imagenes/fondo_contacto2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    display: block;
    text-align: center;

}

.html_Pricipal_atlixco {
    background-image: url("../recursos/imagenes/fondo_atlixco2.jpg");
    background-size: cover;

}

.parafoPersonalizado {
    color: var(--fuente-color);
    text-align: center;
}
.parafoPersonalizado2 {
    color: #ECECEC;
    text-align: center;
}
.formulario {
    margin-top: 0em;
    border-radius: 10px;
    display: inline;
    width: 100%;
}
.inputForm{
    border-radius: 5px;
    width: 200px;
    height: 35px;
    background-color: var(--background-description);;
}
/* -------------------------- */
/* -- INI Tablas ------------ */


.tabla_2 th, td{
    text-align: center;
}

.tabla_1 {
    table-layout: fixed;
    width: 40%;
    border-collapse: collapse;
    background: var(--color-morado3);
    text-align: center;
    font-size: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.tabla_3 hr{
    border: 1px solid var(--color-morado1);
}

.hrStyle{
    color: var(--color-morado3);
}
.tabla_3 {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    border-collapse: collapse;
    font-size: 110%;
    text-align: right ;
}

.imgSize{
    width: 275px;
    height: 195px;
    border-radius: 10px;
}

.btnForm{
    box-shadow: 0 1px 15px rgba(0,0,0,.2);
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 0 20px;
    display: inline-block;
    height: 40px;
    border-radius:5px;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    background-color: var(--color-morado2);
    margin-right: 10px;
    margin-bottom: 10px;
}


/* -- FIN Tablas ------------ */
/* -------------------------- */



/* Estilos Juan */
.pueblo-magico-imagen-san-miguel {
    background-image: url("../recursos/imagenes/san-miguel-el-alto-hero.jpeg");
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pueblo-magico-texto {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 30%;
    color: var(--background-body);
    text-shadow: 7px 8px 6px rgba(17, 0, 0, 1);
}

@media only screen and (max-width: 600px)  {
    .pueblo-magico-texto {
        left: 0%;
    }
}

.video-san-miguel {
    padding: 0 20px;
    display: block;
    width: 100%;
}

/** Yara  */

.pueblo-uno .center {
    background-image: url("../recursos/imagenes/SanCristobal.jpeg");
    padding:11px 16px;
    text-align: center;

    font-weight: 400;
    font-size: 50px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: block;
    color: #FFFF;
    /* text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1); */
    text-shadow: 0 13.36px 8.896px #585551,0 -2px 1px #918d8d;

}
.pueblo-uno .center h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pueblo-uno .center h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pueblo-uno #rcorners1 {
    border-radius: 15px 50px 30px;
    background: #e9e9e9;
    padding: 20px;

}
.pueblo-uno table img{
    border-radius: 40px 40px 40px 40px;
    height: 400px;
    width: 450px;
}
.pueblo-uno article#rcorners1 {
    margin: 20px 40px 20px 40px;
}
.pueblo-uno h3{
    color: #fff;
    font-weight: 400;
    font-size: 32px;
}
.pueblo-uno .container {
    position: relative;

}

.pueblo-uno .text-block {
    bottom: 18px;
    left: 16px;
    background-color: #FFB088;
    color: white;
    padding-left: 30px;
    padding-right: 20px;

    position: absolute;
    padding-top: 60px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}
.pueblo-uno .gastronomia h4{
    color: #FF350E;

}
.pueblo-uno .image_wrapper {
    position: relative;
}

.pueblo-uno .bg_image_1 {
    position: relative;
}

.pueblo-uno .bg_image_1::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: .4;
    background: pink;
    background-image: url(https://source.unsplash.com/VWcPlbHglYc);
    background-size: cover;
    background-position: center;
}

.naturaleza h4{
    color: #00A527;
}
.gente h4{
    color: #0085D5;
}
.cultura h4{
    color: #892da8;
}
.artesania h4 {
    color: #FF0281;
}
.pueblo-uno div h5, p {
    margin: 20px 40px 20px 40px;
}
.pueblo-uno h5 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #FF350E;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.pueblo-uno #gente h5{
    color: #00A5DF;
}
.pueblo-uno #naturaleza h5{
    color: #00A527;
}
.pueblo-uno #artesania h5{
    color: #FF0281;
}
.pueblo-uno #cultura h5{
    color: #8a1da3;
}


.pueblo-uno h5 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}

.pueblo-uno .two h5 {
    text-transform: capitalize;
}
.pueblo-uno .two h5:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 5px;
    content: "";
    background-color: #FF350E;
}
.pueblo-uno #gente h5:before{
    background-color: #00A5DF;
}
.pueblo-uno #gente h5 span {
    color: rgb(70, 205, 244, 0.8);
}
.pueblo-uno #naturaleza h5:before{
    background-color: #00A527;
}

.pueblo-uno #naturaleza h5 span {
    color: rgb(161, 208, 146, 0.9);
}
.pueblo-uno #artesania h5:before{
    background-color: #FF0281;
}

.pueblo-uno #artesania h5 span {
    color: rgb(255, 2, 129, 0.6);
}
.pueblo-uno #cultura h5:before{
    background-color: #8a1da3;
}

.pueblo-uno #cultura h5 span {
    color: rgb(149, 62, 169, 0.7);
}

.pueblo-uno .two h5 span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: rgb(255, 176, 136, 0.8);
    padding-bottom: 10px;
}

/*----------------------------- */
.pueblo-uno .nine h1 {
    text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
}
.pueblo-uno .nine h1 span {
    margin-top: 5px;
    font-size:15px; color:#FF0281; word-spacing:1px; font-weight:normal; letter-spacing:2px;
    text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.pueblo-uno .nine h1 span:after, .pueblo-uno .nine h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color:#f8f8f8;
}

.pueblo-uno .three h4 {
    font-family:"Raleway", sans-serif; font-weight:500;
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
}
.pueblo-uno .three h4:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #FF9CC0;
}
.pueblo-uno .three h4:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #FF9CC0;
}
.pueblo-uno table{
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px)  {
    table.imagenes-pueblo tbody, table.imagenes-pueblo tr {
        display: inline-block;
    }
    table.imagenes-pueblo td {
        display: block;
        width: 100%;
    }
}
