/*
  Estilos Globales:
  Que aplican a todas las demas paginas.
 */
 :root{
    --background-body: #F6F6F6;

    /*Colores Rosa - Artesania*/
    --color-rosa1: #CC3F65;
    --color-rosa2: #FF0281;
    --color-rosa3: #FF9CC0;

    /*Colores Verde - Naturaleza*/
    --color-verde1: #00A527;
    --color-verde2: #A1D092;

    /*Colores Naranja - Gastronimia*/ 
    --color-naranja1: #FF350E;
    --color-naranja2: #FF4D1A;
    --color-naranja3: #FFB088;

    /*Colores Morado - Cultura y Tradicion*/
    --color-morado1: #5D1D67;
    --color-morado2: #823890;
    --color-morado3: #B786B7;

    /*Colores Azul - Gente*/
    --color-azul1: #0085D5;
    --color-azul2: #00A5DF;
    --color-azul3: #46CDF4;

    --fuente-color: #212121;
    --fuente-color2: #444444;
    --fuente-color3: #ECECEC;

    --background-description:#ECECEC;
    --montserrat: 'Montserrat', sans-serif;
    --open-sans: 'Open Sans', serif;
}

html, body {
    font-family: var(--open-sans);
    margin: 0;
	padding: 0;
	border: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}

h1 {
    font-weight: 400;   
    font-size: 72px; 
    color: var(--fuente-color2);
}

h2 {
    font-weight: 400;   
    font-size: 40px; 
    color: var(--fuente-color2);
}

h3 {
    font-weight: 400;   
    font-size: 32px; 
    color: var(--fuente-color2);
}

p{
    font-weight: 400;   
    font-size: 18px; 
    color: var(--fuente-color2);
}
label{
    font-weight: 500;   
    font-size: 20px; 
    color: var(--fuente-color2);
}

/* Estilos Individuales */


picture.logo img {
    border-radius: 20px;
}


