.pueblo-magico-imagen-san-miguel {
    background-image: url("../recursos/imagenes/san-miguel-el-alto-hero.jpeg");
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pueblo-magico-texto {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 30%;
    color: var(--background-body);
    text-shadow: 7px 8px 6px rgba(17, 0, 0, 1);
}

@media only screen and (max-width: 600px)  {
    .pueblo-magico-texto {
        left: 0%;
    }
}

.video-san-miguel {
    padding: 0 20px;
    display: block;
    width: 100%;
}