/*
  Estilos Globales:
  Que aplican a todas las demas paginas.
 */

* {
    box-sizing: border-box;
}

html, body {
    background-color: black;
}


/* Estilos Individuales */

/*
  Index.css
 */
picture.logo img {
    border-radius: 20px;
}
